.track {
	border: 1px solid #19381F;
	border-radius: 10px;
	padding: 15px;
	min-width: 260px;
	margin: 2px;
	margin-bottom: 10px;
}

.slider-container {
	margin-top: 15px;
}

label {
	width: 100%;
}

label > span:first-child {
	display: inline-block; 
	margin-top: 10px;
}

.switchery-small{
	float: right;
}

.ui-slider {
	background: transparent;
	border: 1px solid #53A548;
}

.ui-slider-horizontal .ui-slider-handle {
	border: 2px solid #53A548;
	border-radius: 10px;
	background: #53A548;
}

